/* body {
    background-image: url("https://cdn.onebauer.media/one/media/6062/00a2/3046/1f21/63dd/bc2d/GamingSetup.png?format=jpg&quality=80&width=960&height=540&ratio=16-9&resize=aspectfill");
    background-repeat: no-repeat;
    background-size: cover;
  } */